<div class="panel panel-transparent">
    <div class="panel-heading">
        <h4>{{vm.action}} Hito</h4>
        <div class="panel-tools">
            <div class="btn-group">
                <a ui-sref="app.hitos" class="btn btn-default">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Ir al buscador
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form>   
            <table class='table mantainer'>
                <tr>
                    <td class="tdLabel">Hito</td>
                    <td width="20" class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control" name="nombre" placeholder="Ingrese nombre del hito ..." ng-model="vm.data.nombre"></td>
                </tr>
                <tr>
                    <td class="tdLabel">Iniciativa</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo">
                        <ui-select ng-model="vm.data.iniciativa">
                            <ui-select-match placeholder="Seleccione iniciativa asociada...">
                               {{$select.selected.descripcion_corta}}
                            </ui-select-match>
                            <ui-select-choices repeat="opcion.id_iniciativa as opcion in vm.iniciativas">
                                <span ng-bind="opcion.descripcion_corta "></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">Responsable</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control" name="responsable" placeholder="Ingrese responsable del hito..." ng-model="vm.data.responsable"></td>
                </tr>
                <tr>
                    <td class="tdLabel">Medio(s) verificación</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control" name="medios_verificacion" placeholder="Ingrese medios de verificación ..." ng-model="vm.data.medios_verificacion"></td>
                </tr>
                <tr>
                    <td class="tdLabel">Observaciones</td>
                    <td width="20" class="point">:</td>
                    <td colspan="4" class="tdInfo"><div class="form-group field-formacciones-descripcion required">

                    <textarea id="formacciones-descripcion" class="form-control" rows="9" cols="1" style="resize:none" placeholder="Ingrese observaciones del hito ..." ng-model="vm.data.observacion"></textarea>

                    <div class="help-block"></div>
                    </div></td>
                </tr>
            </table>
            <button class="btn btn-primary" ng-click="vm.submitForm()">
                {{vm.action}} Hito
            </button>
        </form>
    </div>
</div>