<div class="smart-style-3" style="margin-bottom:20px">
    <header id="header">
        <div id="logo-group">

            <span id="logo" style="margin-top:5px"> <img src="/img/logo.png" style="width:90px" alt="ChCC"> </span>

            <!-- notifications -->
            <span notifications-toggle id="activity" class="activity-dropdown">
                <i class="fa fa-user"></i> <b class="badge" ng-class="{'bg-color-red': vm.unreadNotificationsSize > 0}"> {{ vm.unreadNotificationsSize }}</b>
            </span>

            <div class="ajax-dropdown">
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                        <input type="radio" name="activity">
                        Notificaciones ({{ vm.notificationsSize }}) </label>
                </div>

                <!-- notification content -->
                <div class="ajax-notifications custom-scroll">

                    <ul class="notification-body">
                        <li ng-repeat="notification in vm.user.notifications">
                            <span class="padding-10" ng-class="{unread : !notification.read_at}">
                                <em class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5">
                                    <i class="fa {{notification.data.icon}} fa-fw fa-2x"></i>
                                </em>

                                <span>
                                    {{notification.data.message}}
                                    <br>
                                    <span class="pull-right font-xs text-muted"><i>{{notification.time}}</i></span>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="pull-right">

            <div id="hide-menu" class="btn-header pull-right">
                <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
            </div>

            <!-- #MOBILE -->
            <!-- Top menu profile link : this shows only when top menu is active -->
            <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
                <li class="">
                    <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                        <img src="/img/avatars/male.png" class="online" />
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="#" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> <u>P</u>rofile</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="logout" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                        </li>
                    </ul>
                </li>
            </ul>

            <!-- logout -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a ui-sref="logout" title="Sign Out" data-action="userLogout"><i class="fa fa-sign-out"></i></a> </span>
            </div>
        </div>

    </header>

    <aside id="left-panel">

        <!-- User info -->
        <div class="login-info">
            <span>

                <a href="javascript:void(0);" toggle-shortcut>
                    <img src="/img/avatars/male.png" class="online" />
                    <span>
                        {{ vm.user.nombres }} {{ vm.user.apellido_paterno}}
                    </span>
                    <i class="fa fa-angle-down"></i>
                </a>

            </span>
        </div>

		<nav>
            <ul data-smart-menu>
                <li data-menu-collapse ng-show="vm.isAdmin()">
                    <a><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Lineamientos</span></a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="app.users"><i class="fa fa-lg fa-fw fa-user-o"></i>Usuarios</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.focos"><i class="fa fa-lg fa-fw fa-lightbulb-o"></i>Focos Estrategicos</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.unidades"><i class="fa fa-lg fa-fw fa-university"></i> Unidades académicas</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.apoyo"><i class="fa fa-lg fa-fw fa-university"></i> Unidades Apoyo</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.origen"><i class="fa fa-handshake-o" aria-hidden="true"></i></i> Origen Iniciativas</a>
                        </li>

                        <li ui-sref-active="active">
                            <a ui-sref="app.periodos"><i class="fa fa-lg fa-fw fa-calendar-check-o"></i>Periodos</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.objetivos"><i class="fa fa-lg fa-fw fa-paperclip"></i> Objetivos</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.estrategias"><i class="fa fa-lg fa-fw fa-cubes"></i> Estrategias</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.iniciativas"><i class="fa fa-lg fa-fw fa-tags"></i> Iniciativas</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.hitos"><i class="fa fa-bolt" aria-hidden="true"></i> Hitos</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.actividades"><i class="fa fa-lg fa-fw fa-thumb-tack"></i> Actividades</a>
                        </li>
                    </ul>

                </li>
                <li data-menu-collapse ng-show="vm.isAdmin()">
                    <a><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Proyectos</span></a>
                    <ul>
                        <li ui-sref-active="active">
                            <a ui-sref="app.objetivos2"><i class="fa fa-lg fa-fw fa-paperclip"></i>Objetivos</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.estrategias2"><i class="fa fa-lg fa-fw fa-cubes"></i>Estrategias</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.proyectos"><i class="fa fa-lg fa-fw fa-tags"></i>Iniciativas</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.hitos2"><i class="fa fa-bolt" aria-hidden="true"></i> Hitos</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="app.actividades2"><i class="fa fa-lg fa-fw fa-thumb-tack"></i> Actividades</a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.profile"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Perfil</span></a>
                </li>
                <!--<li ui-sref-active="active">
                    <a ui-sref="app.panel"><i class="fa fa-lg fa-fw fa-sitemap"></i> <span class="menu-item-parent">Panel de Control</span></a>
                </li>-->
                <li ui-sref-active="active">
                    <a ui-sref="app.queryIniciativas"><i class="fa fa-lg fa-fw fa-play-circle"></i> <span class="menu-item-parent">Iniciativas</span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.queryProyectos"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent">Proyectos</span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.calendario"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Calendario</span></a>
                </li>
                <li ui-sref-active="active">
                    <a target="_blank" href="http://158.170.66.53/qlikview/index.htm"><i class="fa fa-lg fa-fw fa-line-chart"></i> <span class="menu-item-parent">Indicadores QV</span></a>
                </li>

                <li ui-sref-active="active">
                    <a ui-sref="app.iframe"><i class="fa fa-lg fa-fw fa-bar-chart"></i> <span class="menu-item-parent">Indicadores</span></a>
                </li>


                <li ui-sref-active="active">
                    <a ui-sref="app.documentos"><i class="fa fa-lg fa-fw fa-folder-open "></i> <span class="menu-item-parent">Documentos</span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.comunicar"><i class="fa fa-lg fa-fw fa-comments"></i> <span class="menu-item-parent">Comunicar</span></a>
                </li>
            </ul>
        </nav>

        <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>
    </aside>

    <div id="main" role="main">

        <div id="ribbon">
            <state-breadcrumbs></state-breadcrumbs>
        </div>

        <div id="content">
            <div ui-view></div>
        </div>

    </div>

    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <span class="txt-color-white" style="font-size:11px">Ante cualquier problema escribir a: soporte@dge.usach.cl</span> </div>
        </div>
    </div>

	<div id="shortcut">
		<ul>
			<li>
				<a ui-sref="app.profile" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>Perfil</span> </span> </a>
			</li>
            <li>
				<a ui-sref="app.home" ng-if="vm.hasRole('solicitante')" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>Dashboard</span> </span> </a>
			</li>
			<li>
				<a ui-sref="logout" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-sign-out fa-4x"></i> <span>Salir </span> </span> </a>
			</li>
		</ul>
	</div>


	<!-- END SHORTCUT AREA -->
</div>
