<div class="panel panel-transparent">
    <div class="panel-heading">
        <h4>{{vm.action}} Objetivo</h4>
        <div class="panel-tools">
            <div class="btn-group">
                <a ui-sref="app.objetivos.asociar({id: vm.data.id_objetivo})" class="btn btn-default">
                    <i class="fa fa-link" aria-hidden="true"></i> Asociar Estrategias
                </a>
                <a ui-sref="app.objetivos" class="btn btn-default">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Ir al buscador
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class='table mantainer'>
            <tr>
                <td class="tdLabel">Objetivo</td>
                <td width="20">:</td>
                <td class="tdInfo">{{vm.data.objetivo}}</td>
            </tr>
            <tr>
                <td class="tdLabel">Activo</td>
                <td width="20">:</td>
                <td class="tdInfo">{{(vm.data.activo==1)?'SI':'NO'}}</td>
            </tr>
            <tr>
                <td class="tdLabel">Avance</td>
                <td width="20">:</td>
                <td class="tdInfo">{{vm.data.avanceObj}}%</td>
            </tr>
        </table>
        <table class="table table-hover">
            <thead>
                <th>Estrategias Asociadas</th>
                <th width="40">Ver</th>
            </thead>
            <tbody>
                <tr ng-repeat="estrategia in vm.estrategias">
                    <td>{{ estrategia.estrategia.estrategia }}</td>
                    <td><a ui-sref="app.estrategias.show({id: estrategia.estrategia.id_estrategia})" class="btn btn-default" ui-sref-opts="{inherit: false}">
                    <i class="fa fa-eye"></i></a></td>
                </tr>
            </tbody>
        </table>
        <div ng-if='vm.reload' class='text-center'>
            <i class="fa fa-2x fa-spinner fa-spin"></i>
        </div>

        <div ng-hide="vm.reload" ng-if="vm.estrategias | isEmpty" class='text-center'>
            Sin resultados
        </div>
    </div>
</div>
