<div class="panel panel-transparent">
    <div class="panel-heading">
        <h4>{{vm.action}} Iniciativa</h4>
        <div class="panel-tools">
            <div class="btn-group">
                <a ui-sref="app.iniciativas" class="btn btn-default">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i> Ir al buscador
                </a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form>   
            <table class='table mantainer'>
                <tr>
                    <td class="tdLabel">Iniciativa</td>
                    <td width="20" class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control" name="descripcion_corta" placeholder="Ingrese descripción corta ..." ng-model="vm.data.descripcion_corta"></td>
                    <td class="tdLabel">Estado</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo">
                        <ui-select ng-model="vm.data.activo">
                            <ui-select-match placeholder="Seleccione estado...">
                               {{$select.selected.nombre}}
                            </ui-select-match>
                            <ui-select-choices repeat="opcion.id as opcion in vm.opcionesActivo">
                                <span ng-bind="opcion.nombre "></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr>
                    <td  class="tdLabel">Responsable</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control name="responsable" placeholder="Ingrese responsable a cargo ..." ng-model="vm.data.responsable"></td>
                    <td class="tdLabel">Presupuesto</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control" name="presupuesto" placeholder="Ingrese presupuesto ..." ng-model="vm.data.presupuesto"></td>
                </tr>
                <tr>
                    <td class="tdLabel">Origen Iniciativa</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo">
                        <ui-select ng-model="vm.data.origen_iniciativa">
                            <ui-select-match placeholder="Seleccione origen...">
                               {{$select.selected.origen}}
                            </ui-select-match>
                            <ui-select-choices repeat="opcion.id as opcion in vm.origenes">
                                <span ng-bind="opcion.origen "></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td class="tdLabel">Unidad</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo">
                        <ui-select ng-model="vm.data.unidad_apoyo">
                            <ui-select-match placeholder="Seleccione tipo...">
                               {{$select.selected.unidad_apoyo}}
                            </ui-select-match>
                            <ui-select-choices repeat="opcion.id_unidad_apoyo as opcion in vm.unidades">
                                <span ng-bind="opcion.unidad_apoyo "></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">Estado Avance</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo">
                        <ui-select ng-model="vm.data.estado_avance">
                            <ui-select-match placeholder="Seleccione avance...">
                               {{$select.selected.nombre}}
                            </ui-select-match>
                            <ui-select-choices repeat="opcion.id as opcion in vm.opcionesAvance">
                                <span ng-bind="opcion.nombre "></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td  class="tdLabel"> % Avance </td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control name="% avance" placeholder="Ingrese % de avance" ng-model="vm.data.avance"></td>
                </tr>
                <tr>
                    <td class="tdLabel">Semestre Inicio</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo">
                        <ui-select ng-model="vm.data.semestre_inicio">
                            <ui-select-match placeholder="Seleccione semestre inicio...">
                               {{$select.selected.nombre}}
                            </ui-select-match>
                            <ui-select-choices repeat="opcion.id as opcion in vm.opcionesSemestre">
                                <span ng-bind="opcion.nombre "></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                    <td class="tdLabel">Semestre Término</td>
                    <td width="20"  class="point">:</td>
                    <td class="tdInfo">
                        <ui-select ng-model="vm.data.semestre_fin">
                            <ui-select-match placeholder="Seleccione semestre término...">
                               {{$select.selected.nombre}}
                            </ui-select-match>
                            <ui-select-choices repeat="opcion.id as opcion in vm.opcionesSemestre">
                                <span ng-bind="opcion.nombre "></span>
                            </ui-select-choices>
                        </ui-select>
                    </td>
                </tr>
                <tr>
                    <td class="tdLabel">Año Inicio</td>
                    <td width="20" class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control" name="anho_inicio" placeholder="Ingrese año inicio ..." ng-model="vm.data.anho_inicio"></td>
                    <td class="tdLabel">Año Término</td>
                    <td width="20" class="point">:</td>
                    <td class="tdInfo"><input type="text" class="form-control" name="anho_fin" placeholder="Ingrese año inicio ..." ng-model="vm.data.anho_fin"></td>
                </tr>
                <tr>
                    <td class="tdLabel">Descripción</td>
                    <td width="20" class="point">:</td>
                    <td colspan="4" class="tdInfo"><div class="form-group field-formacciones-descripcion required">

                    <textarea id="formacciones-descripcion" class="form-control" rows="9" cols="1" style="resize:none" placeholder="Ingrese descripción de la iniciativa ..." ng-model="vm.data.descripcion"></textarea>

                    <div class="help-block"></div>
                    </div></td>
                </tr>
                <tr>
                    <td class="tdLabel">Observaciones</td>
                    <td width="20" class="point">:</td>
                    <td colspan="4" class="tdInfo"><div class="form-group field-formacciones-descripcion required">

                    <textarea id="formacciones-descripcion" class="form-control" rows="9" cols="1" style="resize:none" placeholder="Ingrese observaciones de la iniciativa ..." ng-model="vm.data.observaciones"></textarea>

                    <div class="help-block"></div>
                    </div></td>
                </tr>
            </table>
            <button class="btn btn-primary" ng-click="vm.submitForm()">
                {{vm.action}} Iniciativa
            </button>
        </form>
    </div>
</div>